.subscription {
  width: 60%;
  min-height: 18vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
  margin: 7% auto 3rem auto;

  .eventbrite {
    button {
      background-color: transparent;
      color: #4d4d4d;
      padding: 1rem 2rem;
      border-radius: 20px;
      border: solid 3px #4d4d4d;
      margin: 2rem 0;
      font-size: 1rem;
      font-weight: 700;
      cursor: pointer;
    }
  }
}

.title {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;

  h3 {
    font-weight: 350;
    font-family: "Lato";
  }
}

@media only screen and (max-device-width: 480px) {
  .subscription {
    width: 100%;
  }
}
