footer {
  height: 10rem;
  background: #4d4d4d;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  .footer-text{
    color: white;
    padding: 20px;
    color: #f2f2f2;
    font-size: 1rem;
  }

  .ft-ico {
    color: #f2f2f2;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .box-ico {
    display: flex;
  }
}
