.curso-container {
  width: 100%;
  height: 100%;
 

  .education {
    width: 80%;
    height: 80%;
  }

  .lottie-container {
    width: 50%;
    height: auto;
  }

  .course-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
    

    .course {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 80%;
    }

    .course-content-title {
      box-sizing: border-box;
      padding: 2rem;
    }

    .title {
      font-size: 2rem;
    }
  }

  .rocket {
    width: 25%;
    height: 25%;
    position: absolute;
    left: 75%;
    top: 160%;
    z-index: -1;
  }

  .campaign {
    width: 20%;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
  }

  .boy {
    width: 40%;
    height: 40%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .curso-container {
    .lottie-container {
      width: 100%;
      height: 40%;
    }

    .course-content {
      padding: 0;
      width: 100%;
      text-align: center;

      .course {
        width: 100%;
      }
    }
    .course-content-title {
      width: 100%;

      .title {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .curso-container {
    .lottie-container {
      width: 50%;
      height: 79%;
    }

    .course-content {
      padding: 0;
      width: 100%;
      text-align: center;
    
      .course {
        width: 100%;
      }
    }
    .course-content-title {
      width: 100%;

      .title {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .curso-container {
  
    .lottie-container {
      width: 65%;
      height: 65%;
    }
  }
}